html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.display-4 {
    color: green;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
main label {
    outline: none;
    display: block;
}